*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain light';
    color: #fff;
}
html,body{
    width: 100%;
    height: 100%;
}
#crsr {
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    border: 1px solid #ffffffbe;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    mix-blend-mode: difference;
    pointer-events: none; 
}

#loader{
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: 999;
   background-color: #030303;
   padding: 25vh 10vw;
}

.line{
   /* background-color: green;  */
   height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:3vw ;
}


#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5 , #line1-part1 h6{
    font-size: 3vw;
    font-family:'Robot Medium' ;
    font-weight: 200;
}
#line1-part1 h5{
    /* background-color: green; */
    width: 5vw;
    text-align:right ;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;

}
.line h2{
    font-size: 5.5vw;
    text-transform: uppercase;
    font-weight: 900;
   opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color:#fff ;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color:#fff ;
        font-weight: 500;
        opacity: 0;

    }
    50%{
        font-family: 'Robot Medium';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: 'Robot Medium';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color:#030303 ;
}
/* #page1{
    height: 100vh;
    width: 100%;
    background-color: #030303; */
/* } */
#page1 {
    height: 100vh;
    width: 100%;
    background-color: #030303;
    position: relative; 
    z-index: 1000;
}


#page1 #nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}
#nav-part2{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 3vw;
}
#nav-part2 h4{
    font-size:0.8vw ;
    font-weight: 500;
}

.hero{
    /* background-color: green; */
    width: 72%;
    margin-left:27% ;
    height: fit-content;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.hero:nth-child(2){
    margin-top: 18vh;
}
.hero h1{
    font-size: 7.2vw;
    text-transform:uppercase;
    line-height:7.2vw ;
    font-weight: 600;
}

.hero h2 {
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    font-weight: 600;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
    transition: all ease 0.3s;
    opacity: 1; 
    color: #fff; 
}

.hero h2:hover {
    -webkit-text-stroke: 2px #f0eaea;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #7a121299; 
}




















